# Auto detect text files and perform LF normalization
* text=auto
Saudações
estou aqui registrando todo o meu aprendizado na programação, para futuramente, eu possa relembrar, pesquisar, e organizar todo o meu processo, facilitando assim a minha pesquisa.
Inicei minha jornada na programação no dia 13/02/2024, aos 31 anos, e minha motivação hoje, são minhas meninas
hoje, desempregado, e sem posição de trabalho, busco o conhecimento e o domínio na programação, me parece fácil a Início, todos os dias registrarei aqui, nesta pasta, o meu progresso.

Minha motivação:
 *minhas meninas

 Meu objetivo:
 * dominar a programação e trabalhar na área o mais rápido possível

 temas que tenho domínio:
 *Git e GitHub
 *Linguagem MarkDown

Sites que podem ajudar:
emojipedia.org
